body {
    background-color: #38915a;
    color: #f2ec24;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.mainButton {
    font-family: inherit;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color:  rgba(255, 255, 209, 0.3);;
    outline: none;
}
.mainButton:hover {
    outline: none;
    font-weight: bold;
}
.mainButton:active {
    color: #f2ec24;
}


h1{
    padding: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px black;
}
.btn {
  display: flex;
   margin: 15px auto;
   padding: 7px;
}